<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Storage (Android 13 ready) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <application
        android:name=".MyStudyBuddyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStudyBuddy"
        tools:targetApi="33">

        <!-- MAIN ACTIVITY (SUDAH BENAR PATHNYA) -->
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- PROFILE -->
        <activity
            android:name=".presentation.screens.profile.activity.ProfileActivity"
            android:exported="false"/>

        <!-- EDIT PROFILE -->
        <activity
            android:name=".presentation.screens.profile.activity.EditProfileActivity"
            android:exported="false"/>

        <!-- HISTORY -->
        <activity
            android:name=".presentation.screens.history.activity.FileHistoryActivity"
            android:exported="false"/>

        <activity
            android:name=".presentation.screens.history.activity.QuizHistoryActivity"
            android:exported="false"/>

        <activity
            android:name=".presentation.screens.history.activity.SummaryHistoryActivity"
            android:exported="false"/>

    </application>

</manifest>